<!-- FOOTER BLOCK -->
<div class="container-xxl">
  <div class="row">
    <div class="col-12 col-lg-4">
      <jdoc:include type="modules" name="footnav-1" style="JAxhtml" />
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <jdoc:include type="modules" name="footnav-2" style="JAxhtml" />
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <jdoc:include type="modules" name="footnav-3" style="JAxhtml" />
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <jdoc:include type="modules" name="footnav-4" style="JAxhtml" />
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <jdoc:include type="modules" name="footnav-5" style="JAxhtml" />
    </div>
  </div>
</div>
<!-- // FOOTER BLOCK -->