<!-- HEADER BLOCK -->
<header class="header-block header-block-4 border-bottom">
  <div class="container-xxl">
    <div class="header-wrap row align-items-center flex-nowrap">

      <div class="col-4 col-lg-2 col-xxl-2 order-xxl-2 text-xxl-center">
        <jdoc:include type="element" name="logo" />
      </div>

      <div class="col-1 col-lg-6 ms-auto col-xxl-5 order-xxl-1">
        <!-- MAIN NAVIGATION -->
        <nav class="mainnav nav-align-left w-100 collapse-static">
          <div class="collapse-static d-flex align-items-center">
            <jdoc:include type="element" name="megamenu" />
          </div>
        </nav>
        <!-- // MAIN NAVIGATION -->
      </div>

      <div class="col-7 col-lg-4 col-xxl-5 order-xxl-3 d-flex align-items-center justify-content-end">
        <div class="t4-header-r d-flex align-items-center">
          <jdoc:include type="modules" name="header-r" style="raw" />
        </div>

        <div class="t4-header-r t4-nav-toggle d-flex">
          <jdoc:include type="element" name="megamenu-toggle" />
          <jdoc:include type="element" name="offcanvas-toggle" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->

