<!-- HEADER BLOCK -->
<header class="header-block header-block-3">
  <div class="header-wrap">
  	<div class="container-fluid py-3 border-bottom collapse-space-between collapse-border-0">
      <div class="row align-items-center">
        <div class="col-4 d-flex t4-header-l">
          <jdoc:include type="element" name="offcanvas-toggle" />
          <jdoc:include type="element" name="megamenu-toggle" />
        </div>

        <div class="col-4 d-flex justify-content-center">
      	 <jdoc:include type="element" name="logo" />
        </div>

        <div class="col-4">
        	<div class="t4-nav-toggle t4-header-r">
            <jdoc:include type="modules" name="header-r" style="raw" />
    	    </div>
        </div>
      </div>
    </div>

    <div class="t4-navbar t4-nav-height-sm d-flex justify-content-center">
      <jdoc:include type="element" name="megamenu" />
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->